body{
    margin: 0;
}

#main-grid-container{
    height: 100vh;

    display: grid;

    grid-template: 1fr 3fr / 1fr 5fr;
}

#sidebar{
    background: red;

    grid-row: 1/4;
}

#header{
    background: blue;
}

#content-section{
    background: yellow;
}

#repo-blocks-container{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
    padding: 30px;
}

.repo-block{
    background-color: red;
    height: 250px;
}

