body{
    margin: 0;
}

/*basic layout*/

#main-grid-container{
    height: 100vh;

    display: grid;

    grid-template: 1fr 3fr / 1fr 5fr;
}

#sidebar{
    background: red;

    grid-row: 1/4;
}

#header{
    background: blue;
}

#content-section{
    display: flex;
    background: yellow;

    padding: 20px;
}

/**/

#block-section{
    display: flex;
    flex-direction: column;

    flex: 5;
}

#repo-blocks-container{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;

    padding-right: 25px;

    flex: 1;
}

.repo-block{
    background-color: red;
}

#announcements-trending-section{
    display: flex;
    flex-direction: column;
    gap: 25px;

    flex: 1;
}

#announcements-container, #trending-container{
    display: flex;
    flex-direction: column;

    flex: 1;
}

#announcement-block, #trending-block{
    background-color: red;
    
    flex: 1;
}




